/*This is Style*/
* {
  margin: 0;
  padding: 0;
}

body {
  background: url('./assets/background.jpg');
  background-size: 100%;
  background-attachment: fixed;
  justify-content: center;
  text-align: center;
  padding: 10rem;
}
h1,
h2,
.scoreDisplay {
  color: grey;
}
.grid {
  width: 200px;
  height: 200px;
  border: 1px solid grey;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  align-content: center;
}
.grid div {
  width: 20px;
  height: 20px;
  border: 1px grey solid;
  box-sizing: border-box;
  text-align: center;
  align-content: center;
}
.cobra {
  background: green;
  border: 1px black solid;
}
.apple {
  background-color: red;
  border-radius: 50%;
}
.overlay {
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(23, 23, 31, 1) 55%,
    rgba(0, 212, 255, 1) 100%
  );
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  display: none;
  justify-content: center;
  align-items: center;
  text-align: justify;
}

.button_directions {
  display: none;
}

button {
  display: inline-block;
  margin: 2rem;
  width: 4rem;
  height: 4rem;
  border: solid;
  border-radius: 50%;
  color: gray;
}
